*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
/* header */
header{
  font-family: 'Edu Tas Beginner', sans-serif;
  padding: 15px;
  background-image: url('/img/wall.png');
  background-position: center;
  background-image: cover;
}

h1{
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}

/* main */

main{
   background-image: url('/img/cork.png');
   padding: 20px;
}

/* utilities */

#pin{
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  