*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Edu Tas Beginner', sans-serif;
}

.date{
  font-family: 'Sometype Mono', monospace;
}
  

/* header */
header{
  padding: 15px;
  background-image: url('/img/wall.png');
  background-position: center;
  background-image: cover;
}

h1{
  text-align: center;
  font-size: 80px;
  font-weight: 600;
}

/* main */

main{
   background-image: url('/img/cork.png');
   padding: 20px;
   
}

#pin{
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* media Query */

@media all and (max-width:960px ){
h1{
  font-size: 100px;
}
}

/* overlay */
.overlay{
  
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* utilities */

.vw-35{
  width: 35vw;
  height: auto;
}

.pointer{
  cursor: pointer;
}